/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
/******************************* Portfolio *******************************/
.mp_portfolio .newswrapper {
	position: relative;
	display: flex;
    flex-wrap: wrap;
	min-height:100px;
}
.mp_portfolio ul {
	padding: 0;
	margin-left: -10px;
}
.mp_portfolio ul li {
	display: inline-block;
	margin: 0.6em;
	padding: 6px 15px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor:pointer;
	border: 1px solid;
	border-radius: 25px;
	/* box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20); */
}
.mp_portfolio ul li:not(.active):hover {
	/* box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20); */
}
.mp_portfolio ul li.active{
	cursor: default;
}
.newswrapper .mp_post .postthumbnail{
	overflow:hidden;
	width: 100%;
	padding-top: 56.25%;
	position: relative;
}
.newswrapper .mp_post .postthumbnail::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 35%;
	transition: all 0.3s;
	background: linear-gradient(to top, #000 0%, rgba(0,0,0,0) 100%);
}
.newswrapper .mp_post .postthumbnail img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.5s!important;
	transition: all 0.5s!important;
	height: auto;
	max-width: none;
	width: 100%;
}
.mp_post:hover img{
	transform: scale(1.2);
}
.mp_post_single_term:not(:last-of-type)::after {
	content: "|";
	margin: 0.3em;
}
.newswrapper .mp_post .date {
	margin-bottom: 1em;
}
.newswrapper .mp_post .readmore {
	margin: 1em;
	text-align: right;
	display: block;
}
/* Default template */
.mp_default-template .newswrapper .mp_post {
	padding: 0 10px 20px 10px;
	width: 33.3%;
}
.mp_default-template .newswrapper .mp_post a {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.mp_default-template .mp_post_title {
	position: absolute;
	bottom: 0em;
	left: 1.5em;
	right:1.5em;
	z-index: 2;
	font-weight: 700;
	transition: all 0.3s;
}
.mp_default-template  .newswrapper .mp_post .excerpt {
	padding: 1em 1.5em;
}
.mp_default-template .mp_post .excerptreadmore {
	margin-bottom: 2em;
}
.mp_default-template .mp_post .readmore {
	position: absolute;
	bottom: 2em;
	right: 2em;
}
/* Full image content hidden Template */
.mp_template-full-image-content-hidden .newswrapper .mp_post {
	padding: 0;
	width: 33.3%;
}
.mp_template-full-image-content-hidden .newswrapper .mp_post a {
	background: #ececec;
	color:#333;
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.mp_template-full-image-content-hidden .newswrapper .mp_post .postthumbnail {
	padding-top: 80%;
}
.mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt {
	padding: 3em 2em 1em 2em;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.mp_template-full-image-content-hidden .mp_post .excerptreadmore {
	padding-bottom: 2em;
}
.mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 100%;
	height:100%;
	transition: all 0.45s ease-in-out;
	-webkit-transition: all 0.45s ease-in-out;
	opacity:0.5;
}
/* Devices with mouse */
@media(hover: hover) and (pointer: fine) {
	.mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt {
		opacity:0;
	}
	.mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt::before {
		width: 10%;
		height:10%;
		opacity:0;
	}
	.mp_template-full-image-content-hidden .newswrapper .mp_post a:hover .excerpt {
		opacity: 1;
	}
    .mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt:hover::before{
		transform: translate(-50%, -50%) scale(11);
		opacity: 1;
	}
}
.mp_template-full-image-content-hidden .mp_post_title {
	margin: 0.5em auto;
	font-size: 1.6em;
}
.mp_template-full-image-content-hidden .mp_post_terms {
	font-size: 0.8em;
	margin-bottom: 1em;
}
.mp_template-full-image-content-hidden .mp_post .readmore {
	position: absolute;
	bottom: 2em;
	right: 2em;
	margin: 0;
}
/* Load more Button & SVG animation */
.mp_custom_blocks_loadmore_portfolio{
	padding: 8px 15px;
	display: block;
	margin: 20px auto;
}
.mp_custom_blocks_loadmore_portfolio #loadmorebuttonsvg {
	vertical-align: middle;
	margin-left: 0.5em;
	display: none;
}
.container-animation{
	width: 100px;
	text-align: center;
	margin: 0 auto;
}
.container-animation svg{
	display:none;
}
@media only screen and (max-width:1200px) {
	.mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt {
		padding: 1.5em;
	}
}
@media only screen and (max-width:980px) {
	.mp_template-full-image-content-hidden .newswrapper .mp_post {
		width: 50%;
	}
}
@media only screen and (max-width:768px) {
	.mp_template-full-image-content-hidden .newswrapper .mp_post {
		width: 100%;
		padding: 1em 10vw;
	}
	.mp_template-full-image-content-hidden .newswrapper .mp_post a .excerpt {
		padding: 1em;
	}
	.mp_portfolio ul {
		margin-left: 0;
		padding: 0 10vw;
		text-align: center;
	}
	.mp_post .readmore {
		bottom: 2em;
		right: 10vw;
		margin-right: 2em;
	}
}

/**************** Background image ***************/
.wp-block-gutenberg-bgimage-my-bgimage{
	position: relative;
	background-size: cover;
	background-position: 50%;
	/* height: 100%; */
	/* width: 100%; */
	display: flex;
	/* justify-content: center; */
	align-items: center;
	overflow: hidden;
}
.wp-block-gutenberg-bgimage-my-bgimage .mpoverlay {
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}
.wp-block-gutenberg-bgimage-my-bgimage .mpbgcontent{
	position: relative;
	margin: 0 auto;
	z-index: 3;
}
@media only screen and (min-width:769px){
	.parallax-true{
		background-attachment:fixed;
	}
}